{% extends 'homebase1.html.twig' %}

{% block title %}{{ app.user.name }}Profile{% endblock %}

{% block body %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">

                </div>
                <div class="col-sm-9">
                    <div class="blog-post-area">
                        <h2 class="title text-center">User Panel</h2>
                        <div class="single-blog-post">
                            <h3 class="title text-center">İlanlar</h3>
                            <div class="post-meta">
                                <h3 class="title text-center">İlan Bilgisi</h3>


                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ dernek.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Title</th>
                                        <td>{{ dernek.title }}</td>
                                    </tr>
                                    <tr>
                                        <th>Keywords</th>
                                        <td>{{ dernek.keywords }}</td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <td>{{ dernek.description }}</td>
                                    </tr>
                                    <tr>
                                        <th>Image</th>
                                        <td>{{ dernek.image }}</td>
                                    </tr>
                                    <tr>
                                        <th>Star</th>
                                        <td>{{ dernek.star }}</td>
                                    </tr>
                                    <tr>
                                        <th>Adress</th>
                                        <td>{{ dernek.adress }}</td>
                                    </tr>
                                    <tr>
                                        <th>Phone</th>
                                        <td>{{ dernek.phone }}</td>
                                    </tr>
                                    <tr>
                                        <th>Fax</th>
                                        <td>{{ dernek.fax }}</td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ dernek.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>City</th>
                                        <td>{{ dernek.city }}</td>
                                    </tr>
                                    <tr>
                                        <th>Country</th>
                                        <td>{{ dernek.country }}</td>
                                    </tr>
                                    <tr>
                                        <th>Location</th>
                                        <td>{{ dernek.location }}</td>
                                    </tr>
                                    <tr>
                                        <th>Status</th>
                                        <td>{{ dernek.status }}</td>
                                    </tr>
                                    <tr>
                                        <th>Created_at</th>
                                        <td>{{ dernek.createdAt ? dernek.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Updated_at</th>
                                        <td>{{ dernek.updatedAt ? dernek.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Detail</th>
                                        <td>{{ dernek.detail }}</td>
                                    </tr>
                                    <tr>
                                        <th>Userid</th>
                                        <td>{{ dernek.userid }}</td>
                                    </tr>
                                    </tbody>
                                </table>

                                <a class="btn btn-danger" href="{{ path('user_dernek_index') }}">back to list</a>

                                <a class="btn btn-danger" href="{{ path('user_dernek_edit', {'id': dernek.id}) }}">edit</a>

                                {{ include('dernek/_delete_form.html.twig') }}

                            </div>
                        </div>
                    </div><!--/blog-post-area-->
                </div>
            </div>
        </div>
    </section>
{% endblock %}

